.btn  {
    width: 257px;
    height: 40px;
    border-radius: 16px;
    border-color: transparent;
}

.btn:hover {
    background-color: rgba(255, 255, 128, .5);;
}

.tel   {
    width: 250px;
    height: 40px;
    border-radius: 16px;
    border-color:red;
    outline:none;
}
