.pizzas {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
}

.button {
    padding-bottom: 0;
    background-color: red;
}

.pizza-img {
    width:200px;
}

@media only screen and (max-width:990px) {
    .pizzas {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media only screen and (max-width:760px) {
    .pizzas {
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width:460px) {
    .pizzas {
        grid-template-columns: 1fr;
    }
}