/* *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.open-btn {
  margin: 10px 20px;
  padding: 20px;
  font-size: 16px;
} */

.app-wrapper {
  margin: 0 auto;
  display:grid;
  width: 100vw;

  grid-template-areas: 
  "h"
  "n"
  "c";
}

.wrapper-content {
  grid-area:c;
}

@media only screen and (max-width:800px) {
    .app-wrapper {
      width:100vw;
    }
}